In [1]:
import pandas as pd
import os

data_path = r"MergedData/"
csv_name = r"all_data_copy.csv"
data_dir = os.path.join(data_path, csv_name)

print(f"OS Path Exists? :{os.path.exists(data_dir)}")

OS Path Exists? :True

In [2]:
# Check df
df = pd.read_csv(data_dir)
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [3]:
df.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address'],
      dtype='object')

In [4]:
df['Title']

KeyError: 'Title'

<font color="tomato"> ****There seems to be no column named as 'Title'****</font>

### Fix Duplicate Columns as Instances

In [5]:
# Check if column names are present in any row
column_names = df.columns.tolist()
rows_with_columns = df.apply(lambda row: any(item in column_names for item in row), axis=1)

count = rows_with_columns.sum()

if count > 0:
    print(f"There are ***{count}*** rows containing column names\n")
    print("Rows with column names present:\n", df[rows_with_columns])
else:
    print("No rows contain column names.")

There are ***355*** rows containing column names

Rows with column names present:
         Order ID  Product  Quantity Ordered  Price Each  Order Date  \
519     Order ID  Product  Quantity Ordered  Price Each  Order Date
1149    Order ID  Product  Quantity Ordered  Price Each  Order Date
1155    Order ID  Product  Quantity Ordered  Price Each  Order Date
2878    Order ID  Product  Quantity Ordered  Price Each  Order Date
2893    Order ID  Product  Quantity Ordered  Price Each  Order Date
...          ...      ...               ...         ...         ...
185164  Order ID  Product  Quantity Ordered  Price Each  Order Date
185551  Order ID  Product  Quantity Ordered  Price Each  Order Date
186563  Order ID  Product  Quantity Ordered  Price Each  Order Date
186632  Order ID  Product  Quantity Ordered  Price Each  Order Date
186738  Order ID  Product  Quantity Ordered  Price Each  Order Date

        Purchase Address
519     Purchase Address
1149    Purchase Address
1155    Purchase Address
2878    Purchase Address
2893    Purchase Address
...                  ...
185164  Purchase Address
185551  Purchase Address
186563  Purchase Address
186632  Purchase Address
186738  Purchase Address

[355 rows x 6 columns]

In [6]:
# Remove rows where column names are present
df_cleaned = df[~rows_with_columns]

# Now check again
rows_with_columns = df_cleaned.apply(lambda row: any(item in column_names for item in row), axis=1)

count = rows_with_columns.sum()

if count > 0:
    print(f"There are ***{count}*** rows containing column names\n")
    print("Rows with column names present:\n", df_cleaned[rows_with_columns])
else:
    print("No rows contain column names.")

No rows contain column names.

### Handle Missing Values

In [7]:
# Count missing values per column
print(df_cleaned.isnull().sum())

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

In [8]:
# Remove the missing values
df_cleaned = df_cleaned.dropna()

In [9]:
# Count again tto check
print(df_cleaned.isnull().sum())

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

### Saving the cleaned data

In [10]:
# Check the heads before saving

df_cleaned.head(20)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
6,176562,USB-C Charging Cable,1,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016"
7,176563,Bose SoundSport Headphones,1,99.99,04/02/19 07:46,"668 Center St, Seattle, WA 98101"
8,176564,USB-C Charging Cable,1,11.95,04/12/19 10:58,"790 Ridge St, Atlanta, GA 30301"
9,176565,Macbook Pro Laptop,1,1700,04/24/19 10:38,"915 Willow St, San Francisco, CA 94016"
10,176566,Wired Headphones,1,11.99,04/08/19 14:05,"83 7th St, Boston, MA 02215"
11,176567,Google Phone,1,600,04/18/19 17:18,"444 7th St, Los Angeles, CA 90001"
12,176568,Lightning Charging Cable,1,14.95,04/15/19 12:18,"438 Elm St, Seattle, WA 98101"
13,176569,27in 4K Gaming Monitor,1,389.99,04/16/19 19:23,"657 Hill St, Dallas, TX 75001"
14,176570,AA Batteries (4-pack),1,3.84,04/22/19 15:09,"186 12th St, Dallas, TX 75001"
15,176571,Lightning Charging Cable,1,14.95,04/19/19 14:29,"253 Johnson St, Atlanta, GA 30301"
16,176572,Apple Airpods Headphones,1,150,04/04/19 20:30,"149 Dogwood St, New York City, NY 10001"
17,176573,USB-C Charging Cable,1,11.95,04/27/19 18:41,"214 Chestnut St, San Francisco, CA 94016"
18,176574,Google Phone,1,600,04/03/19 19:42,"20 Hill St, Los Angeles, CA 90001"
19,176574,USB-C Charging Cable,1,11.95,04/03/19 19:42,"20 Hill St, Los Angeles, CA 90001"
20,176575,AAA Batteries (4-pack),1,2.99,04/27/19 00:30,"433 Hill St, New York City, NY 10001"

In [11]:
# Create new CSV for the fixed data
new_csv = r"all_data_fixed.csv"
new_data_dir = os.path.join(data_path, new_csv)

df_cleaned.to_csv(new_data_dir, index=False)

<h3 align="center"> ========== I hope the issue is now fixed  ========== </h3>