In [1]:
import pandas as pd
import os

data_path = r"MergedData/"
csv_name = r"all_data_copy.csv"
data_dir = os.path.join(data_path, csv_name)

print(f"OS Path Exists? :{os.path.exists(data_dir)}")

OS Path Exists? :True

In [2]:
# Check df
df = pd.read_csv(data_dir)
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [3]:
df.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address'],
      dtype='object')

In [4]:
df['Title']

KeyError: 'Title'

<font color="tomato"> ****There seems to be no column named as 'Title'****</font>

### Fix Duplicate Columns as Instances

In [ ]:
# Check if column names are present in any row
column_names = df.columns.tolist()
rows_with_columns = df.apply(lambda row: any(item in column_names for item in row), axis=1)

count = rows_with_columns.sum()

if count > 0:
    print(f"There are ***{count}*** rows containing column names\n")
    print("Rows with column names present:\n", df[rows_with_columns])
else:
    print("No rows contain column names.")

In [ ]:
# Remove rows where column names are present
df_cleaned = df[~rows_with_columns]

# Now check again
rows_with_columns = df_cleaned.apply(lambda row: any(item in column_names for item in row), axis=1)

count = rows_with_columns.sum()

if count > 0:
    print(f"There are ***{count}*** rows containing column names\n")
    print("Rows with column names present:\n", df_cleaned[rows_with_columns])
else:
    print("No rows contain column names.")

### Handle Missing Values

In [ ]:
# Count missing values per column
print(df_cleaned.isnull().sum())

In [ ]:
# Remove the missing values
df_cleaned = df_cleaned.dropna()

In [ ]:
# Count again tto check
print(df_cleaned.isnull().sum())

### Saving the cleaned data

In [ ]:
# Check the heads before saving

df_cleaned.head(20)

In [ ]:
# Create new CSV for the fixed data
new_csv = r"all_data_fixed.csv"
new_data_dir = os.path.join(data_path, new_csv)

df_cleaned.to_csv(new_data_dir, index=False)

<h3 align="center"> ========== I hope the issue is now fixed  ========== </h3>

In [5]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [6]:
df_cleaned

NameError: name 'df_cleaned' is not defined